<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Карта</title>
  <link rel="icon" type="image/png" href="{% static 'client/img/Bucket_of_Axolotl_JE1_BE1.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/maplibre-gl@3.3.1/dist/maplibre-gl.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'client/css/style.css' %}" />
</head>
<body>

  <div id="icon-menu">
    <div class="icon-button" data-tooltip="Локація" onclick="openPanel('location')">
      <img src="{% static 'client/img/location-pin.png' %}" id="pic" alt="Локація">
    </div>
    <div class="icon-button" data-tooltip="Ціль" onclick="openPanel('target')">
      <img src="{% static 'client/img/target.png' %}" id="pic" alt="Ціль">
    </div>
    <div class="icon-button" data-tooltip="Зброя" onclick="openPanel('weapon')">
      <img src="{% static 'client/img/artillery.png' %}" id="pic" alt="Зброя">
    </div>
  </div>

<!-- Панель зброї -->
<div id="weapon-panel" class="side-panel">
  <h2>Оберіть засіб ураження</h2>
  <p>Оберіть тип зброї:</p>
  <select id="weapon-type" ></select>

  <!-- Кнопка Обрахувати (з'являється після наявності локацій) -->
  <br><button id="calculate-button" onclick="calculate()">Обрахувати</button>

  <span class="close-x" onclick="closePanel()">✕</span>
</div>

  <!-- Панель локації -->
  <div id="location-panel" class="side-panel">
    <h2>Задайте свою локацію</h2>
    <p>Введіть Ваші координати:</p>
    <input type="number" id="latitude" placeholder="Широта (км)" step="0.00001">
    <input type="number" id="longitude" placeholder="Довгота (км)" step="0.00001">
    <button onclick="setLocation()">Встановити локацію</button>
    <p>Або виберіть точку на мапі</p>
    <button onclick="startSelecting('location1')">Обрати місце пострілу</button>
    <span class="close-x" onclick="closePanel()">✕</span>
    <div id="confirm-location-btn" style="display:none; margin-top:10px;">
      <button onclick="confirmSelectedPointFromPanel()">Вибрати цю точку як місце пострілу</button>
    </div>
  </div>
  
  <!-- Панель цілі -->
  <div id="target-panel" class="side-panel">
    <h2>Задайте ціль</h2>
    <p>Введіть Ваші координати:</p>
    <input type="number" id="target-latitude" placeholder="Широта (км)" step="0.00001">
    <input type="number" id="target-longitude" placeholder="Довгота (км)" step="0.00001">
    <button onclick="setTarget()">Встановити ціль</button>
    <p>Або виберіть точку на мапі</p>
    <button onclick="startSelecting('target1')">Обрати ціль</button>
    <div id="confirm-target-btn" style="display:none; margin-top:10px;">
      <button onclick="confirmSelectedPointFromPanel()">Вибрати цю точку як ціль</button>
    </div>
    <span class="close-x" onclick="closePanel()">✕</span>
  </div>

  <div id="coordinates-bar">
    <div id="shot-info">
      <img src="{% static 'client/img/shot-icon.png' %}" alt="Shot icon" style="height: 24px;">
      <span id="shot-coords">Місце пострілу: --</span>
    </div>
    <div id="target-info">
      <img src="{% static 'client/img/scope.png' %}" alt="Target icon" style="height: 24px;">
      <span id="target-coords">⠀Ціль: --</span>
    </div>
  </div>

  <div id="loc1"></div>
  <div id="loc2"></div>

  <div id="map"></div>

  <div id="click-coords"></div>

  <script src="https://cdn.jsdelivr.net/npm/maplibre-gl@3.3.1/dist/maplibre-gl.js"></script>
  <script src="{% static 'client/js/script.js' %}"></script>

</body>
</html>
